<div class="w3-content w3-padding w3-justify w3-text-my w3-padding-top-64">
    <a style="text-decoration: none" href="{{ .Permalink }}/#start"><h2 class="w3-hover-opacity">{{ .Title }}</h2></a>
    <hr style="width:200px">
    <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
    <p>
        {{ $parts := split .RawContent "<!--more-->" }}
        {{ if eq (len $parts) 2 }}
            <div class="summary">
                {{ .Summary }}
                <!-- {{ if gt .WordCount 500 }}
                    <button onclick="window.location.href='{{ .Permalink }}/#start'" class="w3-my-button">Read More</button>
                {{ else }}
                    <button onclick="w3_close_read_more(this)" class="w3-my-button">Read More</button>
                {{ end }} -->
                <button onclick="w3_close_read_more(this)" class="w3-my-button">Read More</button>
            </div>
            <div class="content" style="display:none;">
                {{ .Content }}
            </div>
        {{ else }}
            {{ .Content }}
        {{ end }}
    </p>
</div>


